@font-face {
    font-family: "sans";
    src: url("Sans.ttf");
    font-weight: bold;
}

* {
    font-family: "sans";
}
.body {
    overflow-y: auto;

}
.navbar{
    background-color: #00797b;padding:0;text-align:left;
}
.information{
    text-align: right;color: white;background-color: #00797b;border-radius: 10px;padding-right: 10px;padding: 10px;
}
/*responsive nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #00797b;
    overflow-x: hidden;
    transition: 0.5s;
    opacity:1.0;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.8s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}


@media screen and (max-width:768px) {
    #mySidenav
}
/*end of responsive nav*/

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #CCCCCC;
    background-color: #f1f1f1;

}


/* Style the buttons inside the tab */
.tab button {
    background-color: #00797b;
    border: none;
    outline: none;
    /*float: center;*/
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 20px;
    color: white;

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #026466;
    outline: none;
    color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #3f9fa1;
    outline: none;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /*padding: 36px 144px;*/
    border: 1px solid #ccc;
    border-top: none;

}



.topnav a:hover {
    border-bottom: 1px solid white;
}
.navbar-item:hover {
    background-color :#14a1a3;
}

.navbar-item {
    padding : 10px;
}
.navbar-item > a {
    padding : 0;
}

label:active{
    background-color:#1a6970;
}




body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }
canvas{ display: block; vertical-align: bottom; }
/* ---- particles.js container ---- */
#particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #78afb0;
    background-image: linear-gradient(#026466,#f7fbff);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.js-count-particles{
    font-size: 1.1em;
}
#stats, .count-particles{
    -webkit-user-select: none;
    margin-top: 5px; margin-left: 5px;
}
#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.count-particles{
    border-radius: 0 0 3px 3px;
}




@media screen and (min-width: 770px) {
    .cht {
        padding-left: 100px;

    }
}

@media screen and (max-width: 770px) {
    .profile {
        text-align: center;

    }
}

@media screen and (max-width: 770px) {
    .image{
        width: 100%;
        padding: 10px;
        margin: 10px;
        box-shadow: 5px 5px 5px gainsboro;

    }
}

p.hidden {
    width: 100%;
    height: 80px;
    overflow: hidden;
}

@media screen and (min-width: 770px) {
    .image{
        width: 300px;
        height: 330px;
        padding: 10px;
        margin: 10px;
        box-shadow: 5px 5px 5px gainsboro;

    }
}


@media screen and (min-width: 770px) {
    .favo {
        position: relative;
        top: 30px;
        text-align: right;

    }
}


@media screen and (min-width: 770px) {
    .favorit {
        position: relative;
        top: 30px;


    }
}

@media screen and (max-width: 770px) {
    .favorit {

        text-align: right;

    }
}


#animat-a1{
    animation-delay: 0.3s;

}
#animat-a2{
    animation-delay: 0.6s;
}
#animat-a3{
    animation-delay: 0.9s;
}



#animat-b1{
    animation-delay: 0.3s ;

}
#animat-b2{
    animation-delay: 0.6s;
}
#animat-b3 {
    animation-delay: 0.9s;
}

#animat-c1{
    animation-delay: 0.3s ;

}
#animat-c2{
    animation-delay: 0.6s;
}
#animat-c3 {
    animation-delay: 0.9s;
}

#Academic1 {

    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.6);
    background-color: white;
    border: solid 1px gainsboro;
    padding: 20px;
    display: none;
    border-radius: 10px;
}
#Academic1:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#Honors1 {

    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.6);
    background-color: white;
    border: solid 1px gainsboro;
    padding: 20px;
    display: none;
    border-radius: 10px;

}
#Honors1:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#Projects1 {

    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.6);
    background-color: white;
    border: solid 1px gainsboro;
    padding: 20px;
    display: none;
    border-radius: 10px;
}
#Projects1:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#work1 {

    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.6);
    background-color: white;
    border: solid 1px gainsboro;
    padding: 20px;
    display: none;
    border-radius: 10px;

}
#work1:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#Courses1 {

    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.6);
    background-color: white;
    border: solid 1px gainsboro;
    padding: 20px;
    display: none;
    border-radius: 10px;

}
#Courses11:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#researches1 {

    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.6);
    background-color: white;
    border: solid 1px gainsboro;
    padding: 20px;
    display: none;
    border-radius: 10px;

}
#researches1:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#booking {

    display: none;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.6);
    background-color: white;
    border: solid 3px #00797b;
    padding: 40px;



}
table, th ,td{

    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.6);
    background-color: white;
    border: solid 1px gainsboro;

}



@media screen and (min-width: 768px) {
    .info {
        position: relative;
        left: 360px;
        top: 120px;

    }
}





p.hidden {
    width: 100%;
    height: 100px;
    overflow: hidden;
}


@media screen and (min-width: 770px) {
    .name{
        position: relative;
        left: 130px;

    }
}
@media screen and (max-width: 766px) {
    .name{
        position: relative;
        top: 40px;
        right: 30px;

    }
}

@media screen and (max-width: 766px) {
    .nme{
        position: relative;
        bottom: 50px;

    }
}
@media screen and (width: 768px) {
    .nme{
        position: relative;
        bottom: 40px;

    }
}
@media screen and (max-width: 766px) {
    .email{
        position: relative;
        top: 40px;


    }
}

@media screen and (max-width: 766px) {
    .icon{
      display: none;


    }
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

canvas{ display: block; vertical-align: bottom; }
/* ---- particles.js container ---- */
#particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #78afb0;
    background-image: linear-gradient(#026466,#f7fbff);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
---- stats.js ----
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.js-count-particles{
    font-size: 1.1em;
}

.count-particles{
    border-radius: 0 0 3px 3px;
}
@keyframes example {
    from {box-shadow:0px 0px ;}
    to {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);}
}
@media screen and (max-width:1024px) {
    #center {
        text-align: center;
    }
}
@media screen and (max-width:1024px) {
    #center1{
        text-align: center;
    }
}
* {
    margin: 0px;
    padding: 0px;
}

.box3 {
    width: 100%;
    margin: 10px auto;
    border-radius: 15px;
    background: #00797b;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-family: arial;
    position: relative;
}
.box4 {
    width: 100%;
    margin: 10px auto;
    border-radius: 15px;
    background: #00bfb6;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-family: arial;
    position: relative;
}

/* speech bubble 13 */

.sb13:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #00797b;
    border-right: 15px solid transparent;
    border-top: 15px solid #00797b;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
}


/* speech bubble 14 */

.sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #00bfb6;
    border-top: 15px solid #00bfb6;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}

.dropdown:hover .dropbtn {
    background-color: #14a1a3;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #78afb0;


    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {
    color: white;
    padding: 20px 26px;
    text-decoration: none;
    display: block;
    text-align: right;

}

.dropdown-content a:hover {background-color: #14a1a3;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdowne-content {
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdowne-content a {
    color: white;
    text-decoration: none;
    display: block;
    background-color: #1a6970;
}



.show {display: inline-block;}


<style>
 .card:hover {
     box-shadow: 0 0 11px rgba(33,33,33,.2);
 }

.footer-bs {
    background-color: #00797b;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    /*margin-bottom: 0px;*/
    /*border-top-radius: 0px;*/
    /*border-top-left-radius: 0px;*/
    /*border-bottom-left-radius: 0px;*/
}

label:active{
    background-color:#1a6970;
}
/*responsive nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #00797b;
    overflow-x: hidden;
    transition: 0.5s;
    opacity:1.0;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.8s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}


@media screen and (max-width:768px) {
    #mySidenav

}
@media screen and (max-width:768px) {
    #buttongp{
        display: none;
    }
}

/*end of responsive nav*/
body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }
canvas{ display: block; vertical-align: bottom; }
/* ---- particles.js container ---- */
#particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #78afb0;
    background-image: linear-gradient(#026466,#f7fbff);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.js-count-particles{
    font-size: 1.1em;
}
#stats, .count-particles{
    -webkit-user-select: none;
    margin-top: 5px; margin-left: 5px;
}
#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.count-particles{
    border-radius: 0 0 3px 3px;
}



.card-horizontal {
    display: block;
    flex: 1 1 auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 18px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 19px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00797b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00797b;
}

input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width:768px) {
    #showresponsive

}
@media screen and (max-width:768px) {
    #showdesktop{
        display: none;
    }

}
@media screen and (min-width:768px) {
    #showresponsive{
        display: none;
    }

}
